[mysqld]
log-bin=mysql-bin
binlog-format=ROW
server_id=1
basedir=/home/data/database/mysql
datadir=/home/data/database/mysql/data
port=3306
socket=/tmp/mysql.sock
character-set-server=utf8
log-error=/home/data/database/mysql/log/mysqld.log
pid-file=/home/data/database/mysql/run/mysqld/mysqld.pid